# Example .env file - copy to `.env` and fill with your secrets
# Do NOT commit your real `.env` file to git.

# Roboflow API key
ROBOFLOW_API_KEY=YOUR_API_KEY_HERE

# Defaults
ROBOFLOW_API_URL=https://serverless.roboflow.com
ROBOFLOW_WORKSPACE=johann-catalla
ROBOFLOW_WORKFLOW=detect-count-and-visualize
