# Example .env file - copy to `.env` and fill with your secrets
# Do NOT commit your real `.env` file to git.

# Roboflow 
ROBOFLOW_API_KEY=YOUR_API_KEY_HERE
ROBOFLOW_API_URL=http://localhost:9001 # If you're using local Roboflow, otherwise use https://serverless.roboflow.com

ROBOFLOW_WORKSPACE=soilsight-xstgr
ROBOFLOW_WORKFLOW=detect-count-and-visualize

# Directus
DIRECTUS_API_URL=http://ec2-13-239-184-136.ap-southeast-2.compute.amazonaws.com
DIRECTUS_BEARER_TOKEN=YOUR_DIRECTUS_BEARER_TOKEN_HERE
